.navbar {
  margin-bottom: 0;
  min-height: 70px;
  background-color: white;
  .container {
    min-height: 70px;
    .navbar-header {
      .navbar-brand {
        padding-top: 25px;
      }
    }
    #navbarCollapse {
      .navbar-nav {
        min-height: 70px;
        li {
          a:hover {
            color: white;
            /*background: url("../images/hover.png") 50% 100% no-repeat;*/
            background-color: #23afc8;
          }
        }
      }
      #top-menu {
        li.active{
          background-color: #23afc8 !important;
          a {
            -webkit-transition: 1s all ease;
            -moz-transition: 1s all ease;
            transition: 1s all ease;
            border-bottom: 3px solid #0080b7;
            color: white;
            background-color: #23afc8;
          }
        }
      }
      #top-menu a:hover {
        border-bottom: 5px solid #0080b7;
      }
    }
    #blog {
      color: white;
      background-color: #f98561;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-top: 10px;
      border-width: 0;
    }
  }
  .collapse {
    ul {
      li {
        line-height: 60px;
        a {
          line-height: 40px
        }
      }
      li:last-child {
        margin-left: 100px;
      }
    }
  }
}



#carousel {
  .carousel-inner {
    .item {
      text-align: center;
      img {
        display: inline-block;
      }
    }
  }
}

.gray {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  background-color: #f4f4f4;
}

#wwo {
  .container {
    .row {
      h1, h4 {
        color: #2190c1;
      }
    }
  }
}

#service {
  .row {
    .col-xs-6 {
      text-align: center;
      img {
        display: inline-block;
      }

    }
  }
}

.blue {
  width: 100%;
  background-color: #2e3e4f;
  .row {
    h2, h3, a {
      color: #f98561;
    }
    p, hr {
      color: #a3afb2;
    }
  }
}

.portfolio {
  padding-bottom: 50px;
  .container {
    .row {
      h2, button {
        margin-top: 50px;
        margin-bottom: 50px;
      }
      .col-md-4 .col-lg-4 {
        p {
          margin-bottom: 50px;
        }
      }
    }
  }
}

.footer {
  .feed {
    a {
      color: #247fa9;
    }
  }
}

